body {
	font-family: 'Rye', cursive;
	background-color: LightPink;
}

h1 { 
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 3em;
	text-align: center;
}

table {
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
}

td {
  background-color: BurlyWood;
  height: 75px;
  width: 75px;
}

.icon{
   width: 100px;
   height: 100px;
   font-size: 8rem;
   padding: 1rem;
}
.container{
    text-align: center;
}

.inflate-an-image{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 5px;
}

.dress-a-parent {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
}
.images{
   display: flex;
}
.dress-an-image {
  position: absolute;
  top: 0px;
  left: 0px;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Adjust the margin as needed */
}

.navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff; /* Adjust as needed */
            z-index: 999; /* Ensure the navbar appears on top */
        }

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust the size of the arrow */
    height: 20px; /* Adjust the size of the arrow */
    background-color: #fff; /* Background color of the arrow */
    cursor: pointer;
}

.left-arrow {
    left: -30px; /* Position the left arrow */
    /* You can add arrow icon here using content: '>' for example */
}

.right-arrow {
    right: -30px; /* Position the right arrow */
    /* You can add arrow icon here using content: '<' for example */
}

.icons{
   flex: 1;
}

.head {
  z-index: 2
}

.body {
  z-index: 0
}

.shoes {
  z-index: 1
}
