/* Game board and text not responsive yet*/
body {
 background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-top: 40px;
  }
  
table {
    margin-right: center;
    margin-left: center;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
     box-shadow: 7px 14px 7px -2px rgba(207,207,207,0.61);
  }

.navbar {
      display: flex;
      align-items: center;
      justify-content: space-between; 
      padding:10px;
      overflow: hidden;
      position: fixed;
      top:0;
      width: 100%;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.4);
      z-index: 100;
      margin-bottom: 5rem;
     }

    .navbar-logo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .navbar-logo img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    .navbar-home {
      text-decoration: none;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-right:50px ;
    }

    #game-section{
      padding: 2rem;
    }

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2vw;
    color: black;
  }
  
td {
    width: 8vw;
    height: 8vw;
    text-align: center;
    font-size: 300%;
    border: rgb(234, 234, 234) solid 3px;
    color: black;
 
  }

h2 {
  text-align: center;
  font-size: 2vw;
  color: #4c2c92;
}  

.highlightedPlayer1 {
background-color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
    color:white
}
.highlightedPlayer2 {
 background-color: #4c2c92;
    border: 2px solid rgb(255, 255, 255);
    color:white
}

button {
 --glow-color: rgb(255, 255, 255);
 --enhanced-glow-color: rgb(0, 0, 0);
 --btn-color: #4c2c92;
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 position: relative;
 transition: all 0.3s;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);

}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}